<form [formGroup]="CustomerModel.formCustomerGroup">
    Customer Code :<input formControlName="CustomerCodeControl" [(ngModel)]="CustomerModel.CustomerCode" type=text /><br>
    Customer Name :<input formControlName="CustomerNameControl" [(ngModel)]="CustomerModel.CustomerName" type=text /><br>
    Customer Amount :<input [(ngModel)]="CustomerModel.CustomerAmount" [ngModelOptions]="{standalone: true}" type=number /><br>
    <input [disabled]="!(CustomerModel.formCustomerGroup.valid)" (click)="Add()" type=button value="Add" />
    <input type="button" value="send to server" (click)="PostToServer()" />
</form>
<div *ngIf="CustomerModel.formCustomerGroup.dirty"
    [hidden]="!(CustomerModel
    .formCustomerGroup
    .controls
    ['CustomerCodeControl']
    .hasError('pattern'))" >Customer code format is not propper</div>
<div *ngIf="CustomerModel.formCustomerGroup.dirty"
    [hidden]="!(CustomerModel
    .formCustomerGroup
    .controls
    ['CustomerCodeControl']
    .hasError('required'))" >Customer code is required</div>
<div *ngIf="CustomerModel.formCustomerGroup.dirty"
    [hidden]="!(CustomerModel
    .formCustomerGroup
    .controls
    ['CustomerNameControl']
    .hasError('required'))" >Customer name is required</div>

<grid-ui [grid-columns]="[{'colName':'CustomerName'},{'colName':'CustomerAmount'},{'colName':'CustomerCode'}]"
    [grid-data]="CustomerModels"
    (grid-selected)="SelectCustomer($event)"
></grid-ui>